
.ui.blue.button.landing {
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 40px;
  
}

.ui.center.aligned.header {
  color: white;
  /* background-color: white; */
}